@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&family=Roboto+Condensed:wght@400;500;700&family=Roboto:wght@100;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body */
body {
    font-family: 'Roboto Condensed';
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ffffff;
}

/* Navigation Bar (Header) */
header {
    top: 0;
    position: sticky;
    color: #ffffff;
    background-color: black;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#logo {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-left: 10px;
    color: #ff0000;
}
nav {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 40px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}
nav a:hover {
    color: red;
}
.profile-icon a{
    color: #ffffff;
    margin-left: auto;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    transition: color 0.3s;
}
.profile-icon a:hover {
    color: red;
}

/* Registration Form */
section {
    padding: 20px;
}
form {
    max-width: 400px;
    margin: 50px auto;
}
#registrationForm h2{
    margin-bottom: 40px;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
button {
    font-family: 'Roboto Condensed';
    background-color: red;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-left: 150px;
}
button:hover {
    background-color: darkred;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    background-color: #333;
    padding: 20px 0;
    color: #fff;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-logo {
    font-size: 24px;
    font-weight: bold;
}
.footer-social a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}
.footer-bottom {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
